<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp rescap desktop">

  <Identity
    Name="14d69bea-df8f-4ef7-be9b-7a7067f794a1"
    Publisher="CN=stamm"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>PackagingProject - Debug</DisplayName>
    <PublisherDisplayName>stamm</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="AppServiceUWP.exe"
      EntryPoint="AppServiceHost.App">
      <uap:VisualElements
        DisplayName="Electron Datastreamer - Debug"
        Description="PackagingProject"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Images\Wide310x150Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.microsoft.datastreamerconnect"/>
        </uap:Extension>
        <uap:Extension Category="windows.protocol" Executable="ElectronLauncher\ElectronLauncher.exe" EntryPoint="LauncherExtension.Program">
          <uap:Protocol Name="electronlauncher">
            <uap:DisplayName>Electron Launcher</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="ElectronLauncher\ElectronLauncher.exe"/>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="extendedBackgroundTaskTime" />
    <rescap:Capability Name="runFullTrust" />
</Capabilities>
</Package>